spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**
            - id: rating-service
              uri: lb://RATING-SERVICE
              predicates:
                - Path=/ratings/**
            - id: hotel-service
              uri: lb://HOTEL-SERVICE
              predicates:
                - Path=/hotels/**
  security:
    oauth2:
      client:
        registration:
          okta:
            client-id: 0oazrwkj68aY82S2f697
            client-secret: Ur_eb9jZszEkqfl-8Wk78Yc1F8ubkToyN3IfUzsf3TJqH0W8YaAzycVWQlJteXBs
            scope: openid, profile, email,offline_access,openid
        provider:
          okta:
            issuer-uri: https://integrator-9657543.okta.com/oauth2/default

server:
  port: 8084

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
    ip-address: 127.0.0.1
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

okta:
  oauth2:
    issuer: https://integrator-9657543.okta.com/oauth2/default
    client-id: 0oazrwkj68aY82S2f697
    client-secret: Ur_eb9jZszEkqfl-8Wk78Yc1F8ubkToyN3IfUzsf3TJqH0W8YaAzycVWQlJteXBs
    audience: api://default
    scopes:
      - email
      - profile
      - phone
      - address
      - offline_access
      - openid