spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**
            - id: rating-service
              uri: lb://RATING-SERVICE
              predicates:
                - Path=/ratings/**
            - id: hotel-service
              uri: lb://HOTEL-SERVICE
              predicates:
                - Path=/hotels/**

server:
  port: 8084

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
    ip-address: 127.0.0.1
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true