server:
  port: 8082

spring:
  application:
    name: HotelService
  datasource:
    url: jdbc:postgresql://localhost:5433/microservices
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true