

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservices
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: USER-SERVICE
  config:
    import: optional:configserver:http://localhost:8085

server:
  port: 8081

management:
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

resilience4j:
  circuitbreaker:
    registerHealthIndicator: true
    instances:
      ratingAndHotelServiceCB:
        registerHealthIndicator: true
        eventConsumerBufferSize: 10
        failureRateThreshold: 50
        minimum-number-of-calls: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        sliding-window-type: COUNT_BASED
  ratelimiter:
    instances:
      ratingAndHotelServiceRL:
        registerHealthIndicator: true
        limitForPeriod: 1
        limitRefreshPeriod: 4s
        timeoutDuration: 0s

#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#    register-with-eureka: true
#    fetch-registry: true
#  instance:
#    hostname: localhost
#    prefer-ip-address: false
#    ip-address: 127.0.0.1
