spring:
  application:
    name: RATING-SERVICE
  mongodb:
    database: microservices
    uri: mongodb://localhost:27017/

server:
  port: 8083

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true