spring:
  application:
    name: RATING-SERVICE
  mongodb:
    database: microservices
    uri: mongodb://localhost:27017/

server:
  port: 8083

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
    ip-address: 127.0.0.1
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true